node_modules/
dist/
package.json
package-lock.json

*.log
*.bun-build
bun.lock

.opencode/*
!.opencode/skills

.claude/*
!.claude/skills
.vercel
.env*

# Added by code-review-graph
.code-review-graph/
